@import url('https://fonts.cdnfonts.com/css/crasher-gear');

.navbar {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  filter: drop-shadow(0 0 0.75rem #000);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: inset 0 7px 20px -7px rgba(0, 0, 0, 0.4);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  margin: 0 auto;
}

.navbarLogo a {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  font-family: 'Crasher Gear', sans-serif;
  letter-spacing: 7px;
  text-shadow: 3px 1px rgba(78, 100, 77, 0.4);
}

.navbarMenu ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.navbarMenu li {
}

.navbarMenu a, .navbarMenu span {
  color: #333;
  text-decoration: none;
  font-size: 1.3rem;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navbarMenu a:hover, 
.navbarMenu span:hover, 
.navbarMenu a.activeLink,
.navbarMenu span.activeLink {
  color: #ff4500;
}

.navbarIcons {
  display: flex;
  align-items: center;
}

.cartIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  position: relative;
  color: #131313;
}

.cartIcon:hover {
  opacity: 0.7;
}

.cartIcon span {
  position: absolute;
  top: -5px;
  left: 23px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #ff4500;
  border-radius: 50%;
  color: #fff;
}

.menuIcon {
  display: none;
  cursor: pointer;
  margin-left: 4rem;
  color: #333;
}

.productsDropdown {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.productsToggle {
  display: flex;
  align-items: center;
}

.productsToggle.activeLink,
.productsToggle:hover {
  color: #ff4500;
}

.productCategories {
  display: flex;
  top: 100%;
  left: 0;
  border-radius: 4px;
  overflow: hidden;
  max-width: 0;
  transition: max-width 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.productCategories.open {
  max-width: 400px;
  opacity: 1;
}

.productCategories li {
  white-space: nowrap;
  margin: 0;
}

@media (min-width: 769px) {
  .productCategories {
    flex-direction: row;
    top: 0;
    left: 100%;
  }
}

@media (max-width: 768px) {
  .navbarMenu {
    position: fixed;
    top: 50px;
    left: -100%;
    width: 70%;
    height: calc(100vh - 60px);
    background-color: #ffffff;
    transition: left 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .navbarMenu.active {
    left: 0;
  }

  .navbarMenu ul {
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
  }
  .navbarMenu ul ul {
    flex-direction: column;
    padding: 0 ;
    gap: 1rem;
  }

  .navbarMenu ul ul li {
    margin-left: 1rem;
  }

  .cartIcon span {
    top: -10px;
    left: 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
  }

  .menuIcon {
    display: block;
  }

  .productsDropdown {
    position: relative;
    display: flex;
    align-items:start;
    flex-direction: column;
  }

  .productCategories {
    /* position: static; */
    flex-direction: column;
    box-shadow: none;
    max-width: none;
    max-height: 0;
    transition: max-height .3s ease, opacity .5s ease;
    opacity: 0;
    overflow: hidden;
  }

  .productCategories.open {
    max-height: 1000px;
    max-width: none;
    opacity: 1;
    padding: 10px 0;
  }

  .productCategories li {
  }
}