@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 1rem 3rem;
    gap: 4rem;
}
.left{
    display: flex;
    width: 70%;
}
.imageContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

.upperRow{
    display: flex;
    width: 100%;
    gap: .5rem;
}
.bottomRow{
    display: flex;
    width: 100%;
    gap: .5rem;
}

.imageWrapper{
    display: flex;
    width: 100%;
    border-radius: .8rem;
    overflow: hidden;
    background-color: #f9f9f9;
    cursor: pointer;
}


.image{
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    mix-blend-mode: darken;
}
.right{
    display: flex;
    width: 30%;
    flex-direction: column;
    padding: 1rem 3rem;
    gap: 1.5rem;
}

.infoContainer{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.aboutProduct{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.productCredentials{
    display: flex;
    width: 100%;
    align-items: center;
}

.productNameDiv{
    display: flex;
    flex: 1 1 80%;
    gap: 1rem;
}

.logoWrapper{
    display: flex;
    position: relative;
    width: 60px;
}

.brandLogo{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    top: 5px;
}


.productName{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

.productModel{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.8rem;
}

.priceDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .3rem;
}

.prices{
    display: flex;
    font-size: 1.8rem;
    font-family: sans-serif;
    gap: 1rem;
    align-items: center;
}

.price{
    font-family: inherit;
    font-weight: bold;
}

.oldPrice{
    font-family: inherit;
    text-decoration: line-through;
}

.priceDiff{
    font-family: 'sans-serif';
    opacity: .5
}

.productActions{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.addToCartBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 1rem;
    gap: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2rem;
    border: none;
    color: #f9f9f9;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    background: -webkit-linear-gradient(#06D001, #059212);  
    background: -moz-linear-gradient(#06D001, #059212);  
    background: -o-linear-gradient(#06D001, #059212);  
    background: linear-gradient(#06D001, #059212);  
    background-size: 100px 100px;
    -webkit-transition: background .3s ease-out;  
    -moz-transition: background .3s ease-out;  
    -o-transition: background .3s ease-out;  
    transition: background .3s ease-out;  

    &:hover{
        background-position: 100px;
    }

    &:active{
        opacity: .5;
    }
}


.addToCartIcon{
    color: #f9f9f9;
}

.deliverySchedule{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.greenDot{
    width: .8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #059212;
}

.deliveryTime{
    font-size: .8rem;
    opacity: .6;
    font-weight: bold;
    font-family: sans-serif;
}

.companyDeliveryPolicy{
    display: flex;
    width: 100%;
    gap: 1rem;
}

.policyLeft{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

.policyWrapper{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.policyWrapper p{
    font-family: 'Courier New', Courier, monospace;
    font-size: .9rem;
    line-height: .9rem;
}

.policyIcon{
}

.policyRight{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

.hr{
    opacity: .5;
}

.accordionDiv{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .01rem;
}

@media all and (max-width: 1352px){
    .productNameDiv{
        flex-direction: column;
        gap: .1rem;
    }
    .logoWrapper{
        top: 50px;
        left: 90px;
    }
}

@media all and (max-width: 1250px){
    .right{
        padding: 1rem;
    }
}
@media all and (max-width: 1024px){
    .logoWrapper{
        top: 0;
        left: 0;
    }
    .container{
        flex-direction: column;
    }

    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }

    .aboutProduct{
        text-align: center;
    }

    .priceDiv{
        align-items: center;
    }
    .policyWrapper p{
        max-width: 15ch;
    }
}

@media all and (max-width: 600px){
    .upperRow{
        flex-direction: column;
    }
    .bottomRow{
        flex-direction: column;
    }
}