@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.card {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    height: fit-content;
    transition: all ease-in-out .5s;
    overflow: hidden;
}

.card:hover {
    border-radius: 10px;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, .2);
}

.saleInfo {
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: .5rem;
    font-weight: bold;
}

.saleInfo p {
    color: #fff;
    font-size: 1rem;
    border-radius: 16px;
    padding: .1rem 1rem;
}

.onSaleFlag{
    background-color: red;
}

.newProductFlag{
    background-color: green;
}

.imageWrapper {
    width: 100%;
    height: 60%;
}

.imageWrapper img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    aspect-ratio: 1/1;
    image-rendering: -webkit-optimize-contrast;
}

.productInfo {
    display: flex;
    flex-direction: column;
}

.productCredentials {
    display: flex;
    align-items: center;
    gap: .8rem;
    font-family: "Ubuntu", sans-serif;
}

.name {
    font-weight: bold;
    font-family: inherit;
}

.model{
    font-family: inherit;
}

.priceDiv {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.oldPrice {
    text-decoration: line-through;
    font-family: inherit;
}

.price {
    font-family: inherit;
    font-weight: bold;
}
.colorText{
    display: flex;
    opacity: 0;
    font-size: 0;
}
.card:hover .colorText {
    opacity: 1;
    font-size: 1rem;
}
.colorsDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    gap: 1rem;
    height: 0;
    opacity: 0;
    transition: all ease-in-out .5s;
}
.card:hover .colorsDiv {
    height: 4rem;
    opacity: 1;
}
.color {
   width: 0;
   height: 0;
   filter: drop-shadow(0 0 0.15rem black);

}
.card:hover .color {
    width: 2rem;
    height: 2rem;
}


.sizeText{
    display: flex;
    opacity: 1;
    font-size: 1rem;
}

.card:hover .sizeText {
    opacity: 0;
    font-size: 0;
}
.sizesDiv {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    /* gap: 10px;*/
    /* padding: .5rem; */
    height: 4rem;
    transition: all ease-in-out .5s;
}

.card:hover .sizesDiv {
    height: 0;
}


.size {
    height: 2rem;
    font-family: sans-serif;
    text-align: center; 
    padding: .3rem; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    opacity: 1;
    font-size: 1rem;
}
.card:hover .size {
    opacity: 0;
    font-size: 0;
    height: 0;
}

.freeShipping {
    width: fit-content;
    margin-top: 10px;
    color: #fff;
    background-color: green;
    border-radius: 11px;
    padding: 1px 1rem;
}
