.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30rem;
    height: auto;
    gap: 1rem;
    border-radius: 1rem;
    transition:  ease-in-out 1s;
}

.card:hover{
    width: 70rem;
    align-items: start;
    justify-content: center;
}


.imageContainer{
    display: flex;
    width: 30rem;
    height: 40rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 10px 15px 4px #858282;
    border-radius: 1rem;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.card:hover > .imageContainer{
    width: 30rem;
    filter: grayscale(100%);
}


.imageContainer:hover{
    scale: 1.05;
}

.imageContainer:hover .collectionName{
    top: 3rem;
    /* transform: translateY(1rem); */
    -webkit-transform: translateY(1rem);
}
    
.imageContainer:hover .seeCollectionBtn{
    transform: translateY(34rem);
}


.collectionName{
    position: relative;
    top: -3rem;
    color: #fff;
    transition:  ease-in-out 1s;
}

.seeCollectionBtn{
    color: #fff;
    transform: translateY(38rem);
    transition: ease-in-out 1s ;
    backdrop-filter: blur(15px);
    padding: .1rem;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 4px #858282;
}

.seeCollectionBtn:hover{
   
}

.gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
    border-radius: 1rem;
}

.info{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    overflow: hidden;
    
    
}

.card:hover .info{
    display: flex;
    background-color: #fff;
    height: 38rem;
    width: 100%;
    left: 30rem;
}

/* .card:not(:hover) .info{
    transition: ease-out 0.2;
} */


.seeCollectionBtn{

}

@keyframes slideOut {
    from{left: 30rem;}
    to{left: 35rem;}
}

