@import url('https://fonts.cdnfonts.com/css/crasher-gear');



.header{
    padding: .3em;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    background-color: #131313;
    gap: 3em;
    padding: 0 1.5em;
}



nav{
    display: flex;
    width: 99%;
    /* justify-content: space-evenly; */
}

.left{
    display: flex;
    padding-left: 1em;
    flex: 1 1 25%;
    align-items: center;
    justify-content: center;
}

#menu__button{
    display: none;
    color: #fff;
    font-size: 4em;
}

/* #left{
    visibility: visible;
} */

.nav__ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    text-decoration:none;
    list-style: none;
    color: #fff;
}

.ul__item{
    text-decoration: none;
    list-style: none;
    width: fit-content;
}

.ul__links{
    text-decoration: none;
    color: #fff;
    font: 1.5em/1.5 serif;

    &:visited{
        text-decoration: none;
        color: #fff;
        font: 1.5em/1.5 serif;
    }

    &:hover{
        color: aqua;
    }


}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 40%;
    font-family: 'Crasher Gear', sans-serif;
    font-size: 3rem;
    letter-spacing: 20px;
    color: #fff;
    text-decoration: none;
    text-shadow: 4px 1px rgba(255, 255, 255, 0.35);
}

.right{
    display: flex;
    flex: 1 1 25%;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
}

#right{
    visibility: visible;
}

#cart__button{
    display: flex;
    color: #fff;
    font-size: 1.5em;

    &:hover{
        color: aqua;
    }
}

.dropDown{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    padding: 1rem 0;
    border-top: 1px solid #fff;
    text-decoration: none;
}

.responsiveNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-decoration: none;
}

@media all and (max-width: 1300px){
    .nav__ul{
        justify-content: space-evenly;
    }
    .logo{
        font-size: 2.6rem;
    }
}


@media all and (max-width: 1024px){
    .header{
        padding: 1em 0;
    }
    #menu__button{
        display: flex;
        flex: 1 1 20%;
    }

    .left{
       display:none;
        padding: 0;
        justify-items: flex-start;
    }

    .logo{
        flex: 1 1 80%;
        justify-self: flex-start;
    }
    .right{
        padding: 0;
        display: none;
    }

    #left{
        display: none;
    }
    #right{
        display: none;
    }
  }

  
  @media all and (max-width: 900px){
    .logo{
        font-size: 2.4rem;
    }
  }
  
  /* @media all and (max-width: 700px){
    .logo{
        font-size: 2.2rem;
    }
    
  }
  */
  
  @media all and (max-width: 500px){
    .header{
        padding: 2em 0;
    }
    
    /* .logo{
        font-size: 2rem;
    } */
  } 